.pg_wrap {
    display: flex;
}

.sidebar {
    background-color: red;
    height: calc(100vh - 40px);
    width: 20%;
    padding: 10px;
    position: sticky;
    top: 40px;
}

.mainpg {
    padding: 10px;
}
.container{
    border-bottom: 1px dashed;
    padding: 10px 0;
}

.fixScroll {
    scroll-margin-top: 40px;
}

.subList{
    margin-left: 20px;
}

.Titleheading{
    font-size: 20px;
    margin-bottom: 10px;
}
.subheading{
    font-size: 18px;
    margin-bottom: 10px;
}
.my10{
    margin: 10px 0;
}

.emptyPage {
    background-color: gray;
    height: 50vh;
    margin: 10px 0;
}